@font-face {
    font-family: 'Font';
    src: url('../font/font_light.eot');
    src: url('../font/font_light.eot?#iefix') format('embedded-opentype'),
         url('../font/font_light.woff2') format('woff2'),
         url('../font/font_light.woff') format('woff'),
         url('../font/font_light.ttf') format('truetype'),
         url('../font/font_light.svg#font_light') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Font';
    src: url('../font/font_regular.eot');
    src: url('../font/font_regular.eot?#iefix') format('embedded-opentype'),
         url('../font/font_regular.woff2') format('woff2'),
         url('../font/font_regular.woff') format('woff'),
         url('../font/font_regular.ttf') format('truetype'),
         url('../font/font_regular.svg#font_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Font';
    src: url('../font/font_bold.eot');
    src: url('../font/font_bold.eot?#iefix') format('embedded-opentype'),
         url('../font/font_bold.woff2') format('woff2'),
         url('../font/font_bold.woff') format('woff'),
         url('../font/font_bold.ttf') format('truetype'),
         url('../font/font_bold.svg#font_bold') format('svg');
    font-weight: 700;
    font-style: normal;

}
